extends layout

block content

    h1= "HLS downloader"
    input#url(type="text" name="url")
    h2#results= "4"
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src = "/javascripts/main.js")